.sidebar {
  flex: 2;
  height: calc(100vh - 50px);
  overflow-y: scroll;
  position: sticky;
  top: 50px;
}
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background-color: var(--white);
}
::-webkit-scrollbar-thumb {
  background-color: rgba(128, 128, 128, 0.425);
  border-radius: var(--border-md);
}

.sidebarWrapper {
  padding: 20px;
}

.sidebarListItem {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  gap: 8px;
}

.sidebarButton {
  width: 150px;
  border: none;
  padding: 10px;
  border-radius: var(--border-sm);
  font-weight: 500;
}

.sidebarHr {
  margin: 20px 0;
}
